
<%= form_for [:admin, @page] do |f| %>
<div class="row" data-hook="admin_page_form_fields">
  <div class="col-md-6" data-hook="admin_page_form_left">
    <div class="form-group field">
      <%= f.label :title %> <span class="required">*</span><br />
      <%= f.text_field :title, :class => 'form-control title' %>
      <%= f.error_message_on :title %>
    </div>

    <div class="form-group field">
      <%= f.label :slug %> <span class="required">*</span><br />
      <%= f.text_field :slug, :class => 'form-control title' %>
      <%= f.error_message_on :slug %>
    </div>

    <div class="form-group field">
      <%= f.label :body %> <span class="required">*</span><br />
      <%= f.text_area :body, {rows: 12, :class => 'form-control'} %>
      <%= f.error_message_on :body %>
    </div>
    <div class="form-group field">
      <%= f.label :layout %><br />
      <%= f.text_field :layout, :class => 'fullwidth title' %>
    </div>

    <div class="form-group field">
      <%= f.label :foreign_link %><br />
      <%= f.text_field :foreign_link, :class => 'fullwidth title' %>
    </div>

    <div class="form-group field">
      <%= f.label :position %><br />
      <%= f.number_field :position, :min => 0, :class => 'fullwidth title' %>
    </div>

    <div class="form-group field">
      <%= f.check_box :show_in_sidebar %>
      <%= f.label :show_in_sidebar %>
    </div>

    <div class="form-group field">
      <%= f.check_box :show_in_header %>
      <%= f.label :show_in_header %>
    </div

    <div class="form-group field">
      <%= f.check_box :show_in_footer %>
      <%= f.label :show_in_footer %>
    </div>

    <div class="form-group field">
      <%= f.check_box :visible %>
      <%= f.label :visible %>
    </div>

    <div class="form-group field">
      <%= f.check_box :render_layout_as_partial %>
      <%= f.label :render_layout_as_partial %>
    </div>

    <div class="form-group field">

      <%= f.label :stores, Spree.t(:stores)%><br />
      <% Spree::Store.all.each do |store| %>
        <%= check_box_tag "page[store_ids][]", store.id, @page.stores.include?(store) %> <%= store.name %>
      <% end %>
    </div>
    <div class="form-group field">
      <%= f.label :meta_title %><br />
      <%= f.text_field :meta_title, :class => 'fullwidth title' %>
      <%= f.error_message_on :meta_title %>
    </div>

    <div class="form-group field">
      <%= f.label :meta_keywords %><br />
      <%= f.text_field :meta_keywords, :class => 'fullwidth title' %>
      <%= f.error_message_on :meta_keywords %>
    </div>

    <div class="form-group field">
      <%= f.label :meta_description %><br />
      <%= f.text_field :meta_description, :class => 'fullwidth title' %>
      <%= f.error_message_on :meta_description %>
    </div>

    </div>
  </div>
</div>
<%= render "spree/admin/shared/#{@page.new_record? ? 'new' : 'edit'}_resource_links" %>
<% end %>
