
<h1><%= Spree.t("static_content.static_pages") %> &nbsp;<%= Spree.t("static_content.editing_page") %> "<%= @page.title%>"</h1>
<%= render "spree/shared/error_messages", :target => @page %>

<hr>

<%= render 'form', resource: @page %>
